*{
    margin: 0;
    padding: 0;
}

.menu-container{
    background-color: rgb(60, 60, 60);
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: white;
    padding: 20px;
}

.logo-img{
    width: 100px;
}

.menu{
    display: flex;
    list-style: none;
}

.item{
    margin-right: 20px;
    font-size: 18px;
    padding: 5px;
}

.item:hover{
    color: black;
    background-color: white;
    border: 2px solid rgb(136, 152, 45);
    cursor: pointer;
    border-radius: 10px;
}

.photo{
    width: 300px;
}

.banner-container{
    display: flex;
    height: 100vh;
    justify-content: space-around;
    align-items: center;
    background-image: url("./images/background.png"), linear-gradient(45deg, rgb(5, 5, 5), rgb(40, 40, 40));
    color: white;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.title{
    font-size: 50px;
}

.text{
    font-size: 20px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.btn{
    padding: 10px 15px;
    background-color: red;
    border: none;
    border-radius: 5px;
    color: white;
}

.about-title{
    text-align: center;
    padding: 30px;
}

.about-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row-reverse;
    height: 350px;
}

.about-text-heading{
    font-size: 25px;
    margin-top: -100px;
}

.about-text{
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 18px;
}

.service-container{
    height: 520px;
    background-image: url(./images/background.png), linear-gradient(90deg, rgb(11, 11, 11), rgb(42, 42, 42));
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.service-title{
    text-align: center;
    color: white;
    padding-top: 70px;
}

.box1{
    width:230px;
    background-color: rgba(0, 0, 0, 0.1);
    color: white;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 100px rgb(176, 176, 176);
}

.icon{
    width: 70px;
}

.box-title{
    padding-top: 10px;
}

.box-text{
    padding:15px;
}

.service-boxes{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 40px;
}

.box-btn{
    background-color: rgb(27, 27, 27);
}